body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #03fce3;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home-page {
    text-align: center;
}

#search-input {
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
}

.search-result {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.favorite-movie {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.favorite-btn,
.remove-btn {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.favorite-btn:hover,
.remove-btn:hover {
    background-color: #0056b3;
}
